.navigation__link_active {
  margin-bottom: -1px !important;
  border-bottom: 3px solid #1A1B22;
}

@media screen and (max-width: 320px) {
  .navigation__link_active {
    border-bottom: none !important;
  }
}