.news-card__description {
  font-family: 'Roboto';
  font-weight: 400;
  height: 110px;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 16px auto 18px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

@media screen and (max-width: 1024px) {
  .news-card__description {
    margin-top: 10px;
    margin-bottom: 12px;
    max-height: 88px;
  }
}