@media screen and (max-width: 425px) {
  .footer__list_string {
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    width: 200px;
    top: 30px;
    left: 62.5px;
  }
}

@media screen and (max-width: 320px) {
  .footer__list_string {
    top: 20px;
    left: 16px;
  }
}