@media screen and (max-width: 320px) {
  .footer__list_string {
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    width: 200px;
    top: 20px;
    left: 16px;
  }
}