.about__author {
  margin: 0;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.about__author:last-of-type {
  margin-top: 24px;
}

@media screen and (max-width: 560px) {
  .about__author {
    font-size: 19px;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px) {
  .about__author {
    font-size: 18px;
    line-height: 24px;
  }
}