.footer__signature {
  margin: 0 0 0 104px;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #B6BCBF;
}

@media screen and (max-width: 1024px) {
  .footer__signature {
    font-size: 13px;
    line-height: 19px;
  }
}