.about__description {
  margin-top: 24px;
  color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .about__description {
    margin-top: 16px;
  }
}

@media screen and (max-width: 560px) {
  .about__description {
    height: 330px;
    width: 330px;
  }
}

@media screen and (max-width: 425px) {
  .about__description {
    height: 288px;
    width: 288px;
  }
}