@import url(./_active/login__btn-submit_active.css);

.login__btn-submit {
  width: 358px;
  height: 64px;
  border-radius: 100px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  border: none;
  margin: 39px auto 0 auto;
  background-color: #E6E8EB;
  color: #B6BCBF;
  transition: .2s linear;
}

@media screen and (max-width: 425px) {
  .login__btn-submit {
    width: calc(100% - 32px);
    margin: 23px 16px 0 16px;
  }
}