@import url(./_active/navigation__link_active.css);
@import url(./_active-main/navigation__link_active-main.css);
@import url(./_main/navigation__link_main.css);

.navigation__link {
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 30px 32px 26px 0;
  cursor: pointer;
}