@import url(./_closed/popup_closed.css);
@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);

.popup {
  position: fixed;
  width: 1440px;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  display: flex;
}