@import url(./_closed/popup_closed.css);
@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);

.popup {
  position: fixed;
  width: 1440px;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  display: flex;
}

.popup__signature-input {
  font-family: 'Inter';
  font-size: 12px;
  line-height: 14,52px;
  color: #2F71E5;
  display: inline-block;
  margin-left: 34px;
  margin-right: 34px;
}

.popup__signature-input_email {
  margin-top: 22px;
}

.popup__input {
  margin: 9px 34px 0 34px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2) ;
  padding-bottom: 10px;
  outline: none;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 17px;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, .2);
}

.popup__signature-input_password {
  margin-top: 31px;
}

.popup__btn-submit {
  width: 358px;
  height: 64px;
  border-radius: 100px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  border: none;
  margin: 39px auto 0 auto;
  background-color: #E6E8EB;
  color: #B6BCBF;
  transition: .2s linear;
}

.popup__btn-submit_active {
  background-color: #2F71E5;
  color: #ffffff;
  cursor: pointer;
}

.popup__btn-submit_active:hover {
  transform: scale(1.05);
}


.popup__block-link {
  font-family: 'Inter';
  font-weight: 400;
  font-size:15px;
  line-height: 17px;
  margin: 16px auto 28px auto;
}

.popup__issue {

}

.popup__link {
  text-decoration: none;
  color: #2F71E5;
}