.navigation__btn-login {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  width: 176px;
  height: 48px;
  border-radius: 100px;
  outline: none;
  border: 1px solid #ffffff;
  margin: 19px 0 13px;
  cursor: pointer;
  transition: all .2s;
}

.navigation__btn-login:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 320px) {
  .navigation__btn-login {
    width: 288px;
    height: 56px;
    margin: 24px 16px;
  }
}