.main {
  background-image: url(../../images/main.png);
  width: 1440px;
  height: 576px;
  display: flex;
  flex-direction: column;
}

.main__title {
  margin: 80px auto 0;
  max-width: 608px;
  max-height: 128px;
  color: #ffffff;
  font-family: 'Roboto Slab';
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}

.main__description {
  color: #ffffff;
  margin: 32px auto 0 416px;
  max-width: 545px;
  max-height: 48px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main__form {
  margin: 64px auto auto;
  width: 608px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  border-radius: 100px;
  position: relative;
}

.main__input {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: 'Roboto';
  width: 100%;
  border-radius: 100px;
  border: none;
  outline: none;
  padding-left: 24px;
  padding-right: calc(168px + 10px); /* ширина btn-search + 10px чтобы при переполнении инпута текст не пропадал */
  z-index: 0;
}

.main__btn-search {
  width: 168px;
  height: 64px;
  padding: 0;
  border-radius: 100px;
  outline: none;
  border: none;
  background: #2F71E5;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.main__btn-search:hover {
  background: #347EFF;
}

.main__btn-search:active {
  background: #2A65CC;
}