.news-card__title {
  font-family: 'Roboto Slab';
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  margin: 12px auto 0 auto;
  color: #1A1B22;
  max-height: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

@media screen and (max-width: 1024px) {
  .news-card__title {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .news-card__title {
    line-height: 26px;
  }
}