@import url(./__link/navigation__link.css);
@import url(./__btn-logout/navigation__btn-logout.css);
@import url(./__btn-login/navigation__btn-login.css);
@import url(./__image-logout/navigation__image-logout.css);

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 104px;
}