@import url(./__link/navigation__link.css);
@import url(./__btn-logout/navigation__btn-logout.css);
@import url(./__btn-login/navigation__btn-login.css);
@import url(./__image-logout/navigation__image-logout.css);
@import url(./_black-blind/navigation_black-blind.css);
@import url(./_open-blind/navigation_open-blind.css);

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 104px;
}

@media screen and (max-width: 768px) {
  .navigation {
    margin-right: 40px;
  }
}

@media screen and (max-width: 425px) {
  .navigation {
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    margin: 0;
    width: 100%;
    display: none;
    top: 56px;
  }
}