.news-card__info-block {
  margin-left: 24px;
  margin-right: 24px;
  position: relative;
  height: calc(576px - 272px);
}

@media screen and (max-width: 1024px) {
  .news-card__info-block {
    height: 275px;
  }
}

@media screen and (max-width: 320px) {
  .news-card__info-block {
    margin-left: 16px;
    margin-right: 16px;
  }
}