.news-card__info-block {
  margin: 20px 24px auto 24px;
}

@media screen and (max-width: 1024px) {
  .news-card__info-block {
    margin-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .news-card__info-block {
    margin: 16px;
  }
}