.news-card-list__btn-show-more {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 auto 80px auto;
  transition: all .2s;
}

.news-card-list__btn-show-more:hover {
  transform: scale(1.1);
  opacity: .9;
  border: 1px solid #000000;
}