.navigation__btn-logout {
  background-color: #ffffff;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  width: 112px;
  height: 48px;
  border-radius: 100px;
  outline: none;
  border: 1px solid #1A1B22;
  margin: 19px 0 13px;
  padding: 12px 0 12px 19px;
  cursor: pointer;
  transition: all .2s;
}

.navigation__btn-logout:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
  .navigation__btn-logout {
    font-size: 16px;
    line-height: 22px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}