.news-card-list__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 0 104px;
  padding-top: 80px;
  max-width: 320px;
}

@media screen and (max-width: 1024px) {
  .news-card-list__title {
    font-size: 30px;
    line-height: 34px;
    margin: 0 49px;
  }
}

@media screen and (max-width: 930px) {
  .news-card-list__title {
    padding-top: 40px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 830px) {
  .news-card-list__title {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 320px) {
  .news-card-list__title {
    padding-top: 32px;
    margin-left: 16px;
  }
}