.main__title {
  margin: 160px auto 0;
  max-width: 608px;
  max-height: 128px;
  color: #ffffff;
  font-family: 'Roboto Slab';
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .main__title {
    font-size: 46px;
    line-height: 48px;
    max-width: 500px;
    margin-top: 110px;
  }
}