.about__avatar {
  width: 464px;
  height: 464px;
  margin: 80px 0 auto 104px;
}

@media screen and (max-width: 1280px) {
  .about__avatar {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .about__avatar {
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-left: 52px;
  }
}

@media screen and (max-width: 768px) {
  .about__avatar {
    height: 232px;
    width: 232px;
    margin-top: 61px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 560px) {
  .about__avatar {
    width: 330px;
    height: 330px;
    margin: 52px auto 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .about__avatar {
    width: 300px;
    height: 300px;
    margin: 52px auto 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .about__avatar {
    width: 272px;
    height: 272px;
    margin-top: 32px;
  }
}