@import url(./_facebook/footer__social-icon_facebook.css);
@import url(./_github/footer__social-icon_github.css);

.footer__social-icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1024px) {
  .footer__social-icon {
    width: 17px;
    height: 17px;
  }
}

@media screen and (max-width: 768px) {
  .footer__social-icon {
    width: 22px;
    height: 22px;
  }
}