.news-card__btn-bookmark {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  background-image: url(../../../images/bookmark.svg);
  background-repeat: no-repeat;
  background-size: 14px 19px;
  background-position: center;
  border-radius: 8px;
  transition: all .3s;
}

.news-card__btn-bookmark:hover {
  background-image: url(../../../images/bookmark_hover.svg);
  transform: scale(1.1);
}

@media screen and (max-width: 425px) {
  .news-card__btn-bookmark {
    width: 45px;
    height: 45px;
  }
}