.news-card-list__cards {
  margin: 64px 104px 32px 104px;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-gap: 16px;
}

@media screen and (max-width: 1280px) {
  .news-card-list__cards {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  .news-card-list__cards {
    grid-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .news-card-list__cards {
    margin: 32px 40px 18px 40px;
    grid-gap: 8px;
  }
}

@media screen and (max-width: 425px) {
  .news-card-list__cards {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 320px) {
  .news-card-list__cards {
    margin: 24px 16px 15px 16px;
    grid-template-columns: minmax(min-content, max-content);
  }
}