.main__description {
  color: #ffffff;
  margin: 32px auto 0 416px;
  max-width: 545px;
  max-height: 48px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1280px) {
  .main__description {
    margin-left: 336px;
  }
}

@media screen and (max-width: 1024px) {
  .main__description {
    margin-top: 28px;
    margin-left: 262px;
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .main__description {
    line-height: 24px;
    margin-left: 160px;
    max-width: 452px;
  }
}

@media screen and (max-width: 425px) {
  .main__description {
    max-width: 345px;
    margin-left: 40px;
    max-height: 72px;
  }
}

@media screen and (max-width: 320px) {
  .main__description {
    max-width: 288px;
    margin-left: 16px;
    margin-top: 16px;
  }
}