@import url('./vendor/fonts/index.css');
@import url('./components/App/App.css');

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}