@media screen and (max-width: 425px) {
  .footer__list_social-icons {
    top: 110px;
    left: 62.5px;
  }
}

@media screen and (max-width: 320px) {
  .footer__list_social-icons {
    top: 22px;
    right: 18px;
    left: auto;
  }
}